@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
  .sorryContainer{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .sorryContainer h2{
   align-self:center;
  }
  .sorryContainerChild {
    width:100%;
  }
  .sorryContainerChild img{
    max-width:600px;
    justify-self:center;
  }
  .cart-badge {
    text-align: center;
    margin-bottom: 10px;
    vertical-align: super;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
